body,
html {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0;
}
.titel {
  text-align: center;
}
.filter-navbar {
  margin: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.select-container {
  text-align: center;
}
.main-section {
  margin: 1rem 0;
  padding: 0;
}
.contant {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* to show max of 8 items per row */
  max-width: 1750px;
  /* to center it */
  margin: 1rem auto;
}
.movie-card {
  width: 200px;
  aspect-ratio: 1/1.5;
}
.movie-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal-container {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.modal {
  display: none;
  border: solid 1px rgb(50, 50, 50);
  border-radius: 0.5rem;
  background-color: black;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: aliceblue;
  max-width: 300px;
  padding: 0.25rem;
}
.modal-title {
  margin: 0;
  padding: 0;
  color: inherit;
}
.modal-image {
  justify-content: center;
  align-items: center;
  width: 300px;
}
.modal-button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.modal-button:hover {
  background-color: black;
  color: lightgoldenrodyellow;
}
.stats-container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
.modal-stats {
  margin: 0;
}
.modal-overview {
  margin: 0;
  padding: 0;
}
.close-modal {
  position: absolute;
  font-size: 1rem;
  right: 0rem;
  top: 0rem;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}
.close-modal:hover {
  transform: scale(1.3);
  color: lightgoldenrodyellow;
  transition: transform 0.5 ease-in-out;
}
